<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tech51.eduknowledge">

    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="PKCD"

        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" android:theme="@style/Theme.Design.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".QuizActivity" android:theme="@style/Theme.Design.Light.NoActionBar">

        </activity>
        <activity android:name=".KnowledgeSharingActivity" android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity android:name=".ResearchActivity" android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
        <activity android:name=".ShowResultActivity" android:theme="@style/Theme.MaterialComponents.Light.NoActionBar"/>
    </application>

</manifest>